/* custom properties. */
:root {
  --ff-header: "Archivo";
  --ff-body: "Archivo";

  --clr-light: #f0efed;
  --clr-dark: #262521;
  --clr-background: #f0efed;
}

* {
  color: var(--clr-dark);
  font-family: var(--ff-body);
  background-color: var(--clr-background);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Smart Phone */
@media screen and (max-width: 999px) {
  /*1 Column Mode */
  h1 {
    font-size: 4rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  body,
  a {
    font-size: 1rem;
    text-align: justify;
  }

  .project-content {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
  }

  .project--text {
    order: 1;
    width: 100%;
    float: none;
  }

  .project--image {
    order: 2;
    /* order: 2;
    width: 100%; */
    float: none;
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

/* Tablet || Desktop */
@media screen and (min-width: 1000px) {
  /*Two Column Mode*/
  h1 {
    font-size: 6rem;
    text-align: center;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  body,
  a {
    font-size: 2rem;
    text-align: justify;
  }

  .project-content {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 4rem;
  }

  .project--text {
    order: 1;
    float: left;
    width: 60%;
    padding-right: 10%;
  }

  .project--image {
    order: 2;
    float: left;
    align-content: flex-start;
    max-width: 30%;
    object-fit: contain;
  }
}

section,
.project {
  border-bottom: 1px solid var(--clr-dark);
}

body {
  padding: 1rem;
}

a {
  font-weight: bold;
}

a:hover {
  opacity: 0.7;
}

/* Personal Statement */
.personal-statement {
  align-content: center;
}
.personal-statement--text {
  text-align: justify;
}

/* Social Icons */

.social-menu {
  display: flex;
  justify-content: center;
}

.social-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-menu ul li {
  float: left;
}

.social-menu ul li a {
  display: block;
  text-align: center;
  font-size: 150%;
  padding: 0.5rem;
  text-decoration: none;
}
