@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
    
    p, h1, h2, h3, h4, h5, h6 {
        font-family: 'JetBrainsMono';
        color: white;
    }
    body{ 
        background-color: #1d2256; 
    }

    a{
        color: white
    }

    .page-title{
        animation: fadeIn 2s;
        position: absolute;
        top:50%;
        left:50%;
        padding:0;
        margin:0;
        transform: translate(-50%, -50%);
        display: flex;   

    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }

    @keyframes hoverText {
        from{
            color: white;
        }
        
        to {
            color: gray;
        }

    }

    .social-menu ul {
        animation: fadeIn 2s;
        position: absolute;
        top:80%;
        left:50%;
        padding:0;
        margin:0;
        transform: translate(-50%, -50%);
        display: flex;
    }

    .social-menu ul li {
        list-style: none;
        margin: 0 15px;
    }

    .social-menu ul li .fa {
        font-size: 40px;
    }


  