.technical_skills--ul {
  width: 90%;
  transform: translate(10%);
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

section {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 999px) {
  /*1 Column Mode */
  .technical_skills--ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  section {
    padding-left: 0%;
    padding-right: 0%;
  }
}
